In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from sklearn import preprocessing
from tensorflow import keras

# Reading and Naming Columns

In [2]:
cols = ['Total Jokes']
for i in range(1, 101):
    jk = 'Joke ' + str(i)
    cols.append(jk)

In [3]:
j2 = pd.read_excel('jester-data-2.xls', header = None)
j2.columns = cols
j2

,Total Jokes,Joke 1,Joke 2,Joke 3,Joke 4,Joke 5,Joke 6,Joke 7,Joke 8,Joke 9,...,Joke 91,Joke 92,Joke 93,Joke 94,Joke 95,Joke 96,Joke 97,Joke 98,Joke 99,Joke 100
0,50,99.00,8.11,99.00,99.00,-2.28,-4.22,5.49,-2.62,99.00,...,99.00,99.00,99.00,99.00,99.00,-5.92,99.00,99.00,99.00,99.00
1,100,-4.37,-3.88,0.73,-3.20,-6.41,1.17,7.82,-4.76,-6.41,...,5.73,-6.70,1.99,2.62,-0.49,3.45,3.20,-0.53,-0.53,-2.96
2,42,99.00,99.00,99.00,99.00,0.73,99.00,5.53,3.25,99.00,...,99.00,99.00,99.00,99.00,3.16,99.00,99.00,99.00,99.00,99.00
3,65,0.34,-6.55,2.86,99.00,-3.64,1.12,5.34,2.33,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
4,37,99.00,99.00,99.00,99.00,9.13,99.00,-9.32,-2.04,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,70,-9.95,4.85,-9.95,-8.25,1.41,-1.75,3.11,3.79,-7.38,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
23496,100,-0.78,1.31,-2.09,-0.78,4.71,0.19,3.06,-1.31,-9.76,...,0.29,-0.92,0.53,2.14,2.48,1.02,2.57,1.02,-0.29,0.78
23497,51,99.00,99.00,99.00,99.00,6.12,99.00,5.78,-5.53,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
23498,100,1.02,2.77,7.09,0.05,1.26,1.41,2.62,0.49,5.19,...,7.82,1.07,4.27,3.35,0.63,2.38,2.62,2.57,1.94,3.98
23499,36,99.00,99.00,99.00,99.00,9.17,99.00,-9.90,2.48,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00

# Joke Count

In [4]:
tot_jokes = list(j2['Total Jokes'])
joke_count = Counter(tot_jokes)

# Cleaning and Replacing

In [5]:
j2 = j2.replace(99.00, np.NaN)

In [6]:
for i in cols[1:]:
    j2[i].fillna(value=j2[i].mean(), inplace=True)

In [7]:
j2

,Total Jokes,Joke 1,Joke 2,Joke 3,Joke 4,Joke 5,Joke 6,Joke 7,Joke 8,Joke 9,...,Joke 91,Joke 92,Joke 93,Joke 94,Joke 95,Joke 96,Joke 97,Joke 98,Joke 99,Joke 100
0,50,0.894713,8.1100,0.062897,-1.375004,-2.28,-4.220000,5.49,-2.62,-0.686181,...,2.051652,1.256393,2.224097,1.232783,1.195989,-5.920000,1.566867,1.067761,0.087346,0.869266
1,100,-4.370000,-3.8800,0.730000,-3.200000,-6.41,1.170000,7.82,-4.76,-6.410000,...,5.730000,-6.700000,1.990000,2.620000,-0.490000,3.450000,3.200000,-0.530000,-0.530000,-2.960000
2,42,0.894713,0.1046,0.062897,-1.375004,0.73,1.046502,5.53,3.25,-0.686181,...,2.051652,1.256393,2.224097,1.232783,3.160000,1.438055,1.566867,1.067761,0.087346,0.869266
3,65,0.340000,-6.5500,2.860000,-1.375004,-3.64,1.120000,5.34,2.33,-0.686181,...,2.051652,1.256393,2.224097,1.232783,1.195989,1.438055,1.566867,1.067761,0.087346,0.869266
4,37,0.894713,0.1046,0.062897,-1.375004,9.13,1.046502,-9.32,-2.04,-0.686181,...,2.051652,1.256393,2.224097,1.232783,1.195989,1.438055,1.566867,1.067761,0.087346,0.869266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,70,-9.950000,4.8500,-9.950000,-8.250000,1.41,-1.750000,3.11,3.79,-7.380000,...,2.051652,1.256393,2.224097,1.232783,1.195989,1.438055,1.566867,1.067761,0.087346,0.869266
23496,100,-0.780000,1.3100,-2.090000,-0.780000,4.71,0.190000,3.06,-1.31,-9.760000,...,0.290000,-0.920000,0.530000,2.140000,2.480000,1.020000,2.570000,1.020000,-0.290000,0.780000
23497,51,0.894713,0.1046,0.062897,-1.375004,6.12,1.046502,5.78,-5.53,-0.686181,...,2.051652,1.256393,2.224097,1.232783,1.195989,1.438055,1.566867,1.067761,0.087346,0.869266
23498,100,1.020000,2.7700,7.090000,0.050000,1.26,1.410000,2.62,0.49,5.190000,...,7.820000,1.070000,4.270000,3.350000,0.630000,2.380000,2.620000,2.570000,1.940000,3.980000
23499,36,0.894713,0.1046,0.062897,-1.375004,9.17,1.046502,-9.90,2.48,-0.686181,...,2.051652,1.256393,2.224097,1.232783,1.195989,1.438055,1.566867,1.067761,0.087346,0.869266

# Normalization

In [8]:
val_given = j2.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
val_scaled = min_max_scaler.fit_transform(val_given)
j2_norm = pd.DataFrame(val_scaled, columns = cols)
j2_norm['Total Jokes'] = list(j2['Total Jokes'])
j2_norm

,Total Jokes,Joke 1,Joke 2,Joke 3,Joke 4,Joke 5,Joke 6,Joke 7,Joke 8,Joke 9,...,Joke 91,Joke 92,Joke 93,Joke 94,Joke 95,Joke 96,Joke 97,Joke 98,Joke 99,Joke 100
0,50,0.554433,0.934783,0.511907,0.443840,0.396998,0.292198,0.799172,0.379400,0.479494,...,0.621204,0.580041,0.630129,0.578819,0.576915,0.208592,0.596111,0.570277,0.519531,0.560003
1,100,0.285276,0.314182,0.546012,0.349379,0.183230,0.567058,0.919772,0.268634,0.183230,...,0.811594,0.168219,0.618012,0.650621,0.489648,0.693582,0.680642,0.487578,0.487578,0.361801
2,42,0.554433,0.520424,0.511907,0.443840,0.552795,0.560760,0.801242,0.683230,0.479494,...,0.621204,0.580041,0.630129,0.578819,0.678571,0.589444,0.596111,0.570277,0.519531,0.560003
3,65,0.526074,0.175983,0.654908,0.443840,0.326605,0.564508,0.791408,0.635611,0.479494,...,0.621204,0.580041,0.630129,0.578819,0.576915,0.589444,0.596111,0.570277,0.519531,0.560003
4,37,0.554433,0.520424,0.511907,0.443840,0.987578,0.560760,0.032609,0.409420,0.479494,...,0.621204,0.580041,0.630129,0.578819,0.576915,0.589444,0.596111,0.570277,0.519531,0.560003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,70,0.000000,0.766046,0.000000,0.087992,0.587992,0.418154,0.675983,0.711180,0.133023,...,0.621204,0.580041,0.630129,0.578819,0.576915,0.589444,0.596111,0.570277,0.519531,0.560003
23496,100,0.468814,0.582816,0.401840,0.474638,0.758799,0.517083,0.673395,0.447205,0.009834,...,0.530021,0.467391,0.542443,0.625776,0.643375,0.567805,0.648033,0.567805,0.500000,0.555383
23497,51,0.554433,0.520424,0.511907,0.443840,0.831781,0.560760,0.814182,0.228778,0.479494,...,0.621204,0.580041,0.630129,0.578819,0.576915,0.589444,0.596111,0.570277,0.519531,0.560003
23498,100,0.560838,0.658385,0.871166,0.517598,0.580228,0.579296,0.650621,0.540373,0.783644,...,0.919772,0.570393,0.736025,0.688406,0.547619,0.638199,0.650621,0.648033,0.615424,0.721014
23499,36,0.554433,0.520424,0.511907,0.443840,0.989648,0.560760,0.002588,0.643375,0.479494,...,0.621204,0.580041,0.630129,0.578819,0.576915,0.589444,0.596111,0.570277,0.519531,0.560003

In [9]:
j2_norm.drop(columns=['Total Jokes'], inplace=True)

In [18]:
j2_norm.iloc[0,0]

0.5544331651528045

In [12]:
import random
def createList(r1, r2):
    return list(range(r1, r2 + 1))

users = random.sample(range(0, 23000), 100)
r1, r2 = 0, 99
jokes = createList(r1, r2)
random.shuffle(jokes)

In [15]:
for i in range(0,99):
    u = users[i]
    j = jokes[i]
    print(u)
    print(j)

9916
49
15741
57
16600
91
250
12
20441
18
14940
15
10194
14
2774
53
13472
89
3391
48
4289
21
17362
35
14244
80
12445
16
15086
40
20425
26
6024
70
13948
65
19320
77
8956
25
72
1
13028
17
1309
3
4438
67
5834
66
160
71
7071
31
6174
68
21494
29
8249
50
19881
45
3419
5
14919
7
13115
9
21416
94
13807
8
22811
13
17523
6
14399
88
21425
54
18941
98
19778
47
16826
59
11003
4
18424
61
1639
69
20210
97
7773
72
1788
79
13078
92
3180
85
13057
36
2637
96
17148
93
21002
19
18905
41
13502
39
16810
60
10967
37
2172
81
13715
43
18629
75
12302
11
9745
78
16220
73
20086
95
13041
0
8296
23
834
90
3011
84
3230
52
9391
42
10642
27
8926
38
19069
99
21345
74
9706
30
824
83
15980
55
20767
32
10439
20
15827
51
21381
24
22964
63
5867
58
3606
87
9001
64
1778
34
1127
82
8404
44
3091
76
280
46
344
10
18695
22
17209
56
7919
28
10417
86
12605
2
11412
33

# List of User and Ratings

In [43]:
norm_list = []
for i in norm_array:
    norm_list.append(list(i))

# State Representation Model

In [42]:
# class Joke():
#     def __init__(self, norm_list):
# #         self.done = False
#         self.reward = 0
#         self.action_space = 2
#         self.state_space = 3
#         self.ratings = norm_list
# #         self.total, self.maximum = 0, 0
#         self.user = 1.00
#         self.joke = 1
#         self.rec = 1
        
#         def next_joke(self):
#             self.joke = self.joke + 1
# #             if self.joke > 100:
# #                 self.user = self.user + 1
# #                 self.joke = 1
# #             if self.user > 23500:
# #                 self.done = True
        
#         def reset(self):

#             self.user = 1.00
#             self.joke = 1
#             self.rec = 1
#             self.reward = 0
# #             self.total = 0
# #             self.done = False

#             state = self.get_state()

#             return state
        
#         def run_game(self):
#             if action == 1:
#                 self.rec = 1
#             if action == 0:
#                 self.rec = -1
#             if self.ratings[user - 1][joke] > 0.75:
#                 self.reward = self.rec * 10
#             if self.ratings[user - 1][joke] < 0.25:
#                 self.reward = self.rec * 10 * -1
#             if self.ratings[user - 1][joke] > 0.5:
#                 self.reward = self.rec * 5
#             if self.ratings[user - 1][joke] > 0.25:
#                 self.reward = self.rec * 5 * -1           
            
                
#         def step(self, action):
#             self.next_joke()
#             self.run_game()
#             state = self.get_state()
#             return state, self.reward
            
        
#         def get_state(self):
#             state = [self.user, self.joke, self.ratings[user - 1][joke]]
#             return state

In [44]:
# params = dict()
# params['name'] = None
# params['epsilon'] = 1
# params['gamma'] = 1.00
# params['batch_size'] = 500
# params['epsilon_min'] = .01
# params['epsilon_decay'] = .995
# params['learning_rate'] = 0.00025
# params['layer_sizes'] = [128, 128, 128]

In [ ]:
# joke_env = Joke()
# class DQN:
#     def __init__(self, joke_env):

#     self.action_space = env.action_space
#     self.state_space = env.state_space
#     self.epsilon = params['epsilon']
#     self.gamma = params['gamma']
#     self.batch_size = params['batch_size']
#     self.epsilon_min = params['epsilon_min']
#     self.epsilon_decay = params['epsilon_decay']
#     self.learning_rate = params['learning_rate']
# #     self.layer_sizes = params['layer_sizes']
#     self.memory = deque(maxlen=2500)
#     self.model = self.build_model()
    
#     def build_model(self):
#         input_dims = self.state_space
#         input_layer = keras.Input(input_dims, name = "input_layer")
#         layer_1_units = 64
#         layer_2_units = self.action_space

#         dense_layer_1 = keras.layers.Dense(layer_1_units,activation="sigmoid",name="dense_layer_1")
#         dense_layer_2 = keras.layers.Dense(layer_2_units,activation="softmax",name="dense_layer_2")
#         layers = [input_layer,dense_layer_1,dense_layer_2]
#         model = keras.Sequential(layers=layers)
#         model.compile(loss="sparse_categorical_crossentropy",optimizer=Adam(lr = self.learning_rate))
# #         model.summary()
#         return model
    
#     def remember(self, state, action, reward, next_state):
#         self.memory.append((state, action, reward, next_state))
        
#     def act(self, state):
#         if np.random.rand() <= self.epsilon:
#             return random.randrange(self.action_space)
#         act_values = self.model.predict(state)
#         return np.argmax(act_values[0])
#     def replay(self):

#         if len(self.memory) < self.batch_size:
#             return

#         minibatch = random.sample(self.memory, self.batch_size)
#         states = np.array([i[0] for i in minibatch])
#         actions = np.array([i[1] for i in minibatch]) # MOVE check food Eat Food
#         rewards = np.array([i[2] for i in minibatch])
#         next_states = np.array([i[3] for i in minibatch])

#         states = np.squeeze(states)
#         next_states = np.squeeze(next_states)

#         targets = rewards + self.gamma*(np.amax(self.model.predict_on_batch(next_states), axis=1))
#         targets_full = self.model.predict_on_batch(states)

#         ind = np.array([i for i in range(self.batch_size)])
#         targets_full[[ind], [actions]] = targets

#         self.model.fit(states, targets_full, epochs=1, verbose=0)
#         if self.epsilon > self.epsilon_min:
#             self.epsilon *= self.epsilon_decay


#     def train_dqn(episode, env):

#         sum_of_rewards = []
#         agent = DQN(env, params)
#         for e in range(episode):
#             state = env.reset()      #Reset Reset Reset
#             state = np.reshape(state, (1, env.state_space))
#             score = 0
#             max_steps = 10000
#             for i in range(max_steps):
#                 action = agent.act(state)
#                 prev_state = state
#                 next_state, reward, done, _ = env.step(action)
#                 score += reward
#                 next_state = np.reshape(next_state, (1, env.state_space))
#                 agent.remember(state, action, reward, next_state, done)
#                 state = next_state
#                 if params['batch_size'] > 1:
#                     agent.replay()
#                 if done:
#                     print(f'All Jokes Done: {str(prev_state)}')
#                     print(f'episode: {e+1}/{episode}, score: {score}')
#                     break
#             sum_of_rewards.append(score)
#         return sum_of_rewards

In [ ]:
# ep = 50
# sum_of_rewards = train_dqn(ep, env)
# results[params['name']] = sum_of_rewards